 <div class="container mt-5">
  <h1 class="text-center">Contacts App</h1>
  <div class="d-flex justify-content-end mb-3">
    <button routerLink="/addcontacts" class="btn btn-success">New</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.id }}</td>
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td><button [routerLink]="['/contacts/edit', contact.id]" class="btn btn-primary">Edit</button></td>
        <td><button (click)="deleteContact(contact.id)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
