<div class="container mt-5">
  <form [formGroup]="contactForm" (ngSubmit)="updateContact()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input id="firstName" type="text" class="form-control" formControlName="firstName">
      <div *ngIf="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched" class="text-danger">
        First Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input id="lastName" type="text" class="form-control" formControlName="lastName">
      <div *ngIf="contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched" class="text-danger">
        Last Name is required.
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email">
      <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid" class="text-danger">
        Valid Email is required
      </div>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input type="phone" id="phone" class="form-control" formControlName="phone">
      <div *ngIf="contactForm.get('phone')?.touched && contactForm.get('phone')?.invalid" class="text-danger">
        Valid Phone No is required
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Save</button>
  </form>
</div>